.font-sm {
    font-size: 2.2vw !important;
}

.font-3 {
    font-size: 3vw !important;
}

.font-35 {
    font-size: 3.5vw !important;
}

.font-38 {
    font-size: 3.8vw !important;
}

.font-4 {
    font-size: 4vw !important;
    line-height: 20px;
}

.font-45 {
    font-size: 4.5vw !important;
}

.font-48 {
    font-size: 4.8vw !important;
}

.font-5 {
    font-size: 5vw !important;
    line-height: 20px;
}

.font-55 {
    font-size: 5.5vw !important;
}

.font-58 {
    font-size: 5.8vw !important;
}

.font-6 {
    font-size: 6vw !important;
}

.fw500 {
    font-weight: 500;
}

.fw700 {
    font-weight: 700;
}

.fw900 {
    font-weight: 900;
}

.font-light {
    font-weight: 300;
}

.text-white {
    color: var(--ion-color-primary-contrast) !important;
}

.text-gray {
    color: var(--ion-color-dark-shade) !important;
}

.text-medium {
    color: var(--ion-color-medium) !important;
}

.text-primary {
    color: var(--ion-color-primary) !important;
}

.text-success {
    color: var(--ion-color-success) !important;
}

.text-danger {
    color: var(--ion-color-danger) !important;
}

.letter-space5 {
    letter-spacing: 0.5px;
}
