form {
    .ion-invalid {
        --highlight-background: transparent !important;
    }

    .item-interactive.item-has-focus.ion-valid {
        --highlight-background: transparent !important;
    }

    .form-error {
        border-bottom: 2px solid var(--ion-color-danger) !important;
    }

    ion-label {
        margin-bottom: 15px !important;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
    }

    ion-input {
        font-size: 3.5vw !important;
        color: var(--ion-text-color);
        --placeholder-color: var(--ion-color-medium-tint) !important;
    }
}
