ion-button {
    font-size: 3.2vw !important;
    height: 9vw;
    letter-spacing: 0;
    font-weight: 400;
    text-transform: capitalize;

    &.bold {
        font-weight: 900;
    }

    ion-icon {
        border-radius: 50%;
        padding: 4px !important;
        position: absolute;
        font-size: 3.2vw;
        right: 0;
    }
}

ion-checkbox {
    --border-radius: 4px;
    --border-width: 1.5px;
    --border-color: #dfdfdf;
    --size: 4.4vw;
}

ion-label {
    font-size: 4.2vw !important;
}

ion-input,
.sc-ion-input-md-h {
    font-size: 3.5vw;
    color: var(--ion-text-color);
    --placeholder-color: var(--ion-color-medium-tint) !important;
}

ion-header {
    &::after {
        background-image: none !important;
    }
}
ion-toolbar {
    ion-buttons {
        padding-left: 5px;
    }

    ion-title {
        font-weight: 500;
        font-size: 4vw;
    }
}

ion-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
    --padding-start: 0;
    --inner-padding-end: 0;
    --border-radius: 4px;
    --min-height: 0;
}

ion-searchbar {
    &.sc-ion-searchbar-md-h {
        padding-inline-start: 0;
        padding-inline-end: 0;
        padding: 0;
    }

    .searchbar-input-container {
        --box-shadow: none;
    }

    .sc-ion-searchbar-md {
        &.searchbar-clear-icon {
            width: 15px;
            color: var(--ion-color-medium);
        }

        &.searchbar-clear-button {
            right: 2px;
        }

        &.searchbar-input {
            padding-inline-start: 7px;
            padding-inline-end: 20px;
            font-size: 3.5vw;
        }
    }
}

ion-datetime {
    font-size: var(--font-small);
}

ion-tab-bar {
    ion-tab-button {
        ion-label {
            font-size: var(--font-smaller) !important;
            font-weight: 500;
        }
    }
}

ion-segment {
    ion-segment-button {
        font-size: var(--font-small);
        --color-checked: white;
    }
}
