html,
body {
    font-family: "Fira Sans", "Roboto", sans-serif;
}

.display-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-center {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

ion-list.search-result {
    position: absolute;
    margin-top: 0;
    z-index: 3;
    background-color: white;
    padding: 10px;
    width: 100%;
    border: 1px solid #ededed;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    ion-item {
        font-size: 3.2vw;
        padding: 7px 0;
        color: var(--ion-color-medium-shade);
        --inner-border-width: 0 !important;
        border-bottom: 1px solid #eeeeee;
        line-height: 3.84vh;
    }
}

ion-searchbar.hide-search-icon {
    .searchbar-search-icon.sc-ion-searchbar-md {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
    }
}

ion-icon[name="calendar-outline"] {
    font-size: 7vw;
    color: #f7850c;
}

ion-card {
    &.day-selection {
        border: none !important;
        box-shadow: none;
        background-color: #f8f7f5;
        border-radius: 5px;
        padding: 7px;

        .day {
            font-size: 4vw;
            color: var(--ion-color-medium-tint);
        }
    }
}
