<ion-header>
  <ion-toolbar  >
    <ion-title color="dark" class="ion-text-center">Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-vertical ion-text-center">
<ion-label>  {{alertMessage}} </ion-label>
</ion-content>

<ion-footer class="ion-text-right">
  <ion-button color="danger" (click)="closeAlert('cancel')">CANCEL</ion-button>
  <ion-button  (click)="closeAlert('ok')">OK</ion-button>
</ion-footer>