.content {
    margin: 45px 60px 10px;
}

.logo {
    text-align: center;
    margin: 30px 0 50px;

    img {
        width: 45%;
    }
}

.illustration {
    text-align: center;
    margin: 0 25px;

    img {
        width: 100%;
    }
}

.welcome {
    font-size: 4.8vw;
    font-family: Roboto;
}

.title {
    font-size: 5.8vw;
    font-family: Roboto Condensed;
    font-weight: 700;
}
.error-message{
    font-size: 9px;
}