<div *ngIf="pickupLocations === 0">
    <p> No Pickup Location for Ride defined</p>
</div>
<div *ngIf="pickupLocations.length > 0">
    <ion-card *ngFor="let pickUpLocation of pickupLocations">
        <ion-card-content class="ion-no-padding">
            <ion-grid>
                <ion-row>
                    <ion-col size="1" style="padding-right: 2px;padding-left: 2px;">
                        <ion-icon style="font-size: 12px;" src="assets/images/b-location.svg"></ion-icon>
                    </ion-col>
                    <ion-col size="11" class="ion-no-padding">
                        <div class="text-font">
                            {{pickUpLocation.location}}
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</div>
<div>
    <ion-row class="ion-margin-top">
        <ion-col size="6" offset="3" class="ion-text-center">
            <ion-button class="new-route-ok-btn" expand="block" size="large" (click)='closePopup()'>Close</ion-button>
        </ion-col>
    </ion-row>
</div>