.p-text-ion-col {
    display: flex;
    align-items: center;
   // margin: auto;
}

ion-img {
    &.avatar {
        width: 75%;
        margin: 0 auto;
    }
}
ion-segment ion-segment-button.segment-button-checked {
    color: black
}
ion-segment ion-segment-button {
    color: white
}
.margin-top-2{
    margin-top: 2px;
}

ion-row {
    display: flex; 
    align-items: center;
}