// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    /** primary **/
    --ion-color-primary: #ffa12a;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #f47920;
    --ion-color-primary-tint: #ffac2a;

    /** secondary **/
    --ion-color-secondary: #45b2ff;
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #3d9de0;
    --ion-color-secondary-tint: #58baff;

    /** tertiary **/
    --ion-color-tertiary: #f47920;
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;

    /** success **/
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;

    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    /** danger **/
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    /** medium **/
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;

    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;

    --font-default: 4vw;
    --font-small: 3.5vw;
    --font-smaller: 3vw;
}

.icon-font {
    font-size: 1.6rem !important;
    align-self: center;
    // margin-left: 30px;
}
.header-icon-font {
    font-size: 38px;
}
.header-title {
    font-size: 4.2vw;
    font-weight: bold;
}

.text-font {
    // color: #000000;
    // font-size: 14px;
    // overflow-wrap: normal;
    // text-overflow: ellipsis;
    // white-space: nowrap;
    // overflow: hidden;
    // height: 17vw;
    
    // font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.5;
    font-size: 12px;
    color: black;
   // word-break: break-all;
  
   
}

.text-font-color {
    font-weight: normal;
    color: #ffa12a;
    font-size: 12px;
    align-self: center;
}

.text-name-font {
    color: #939598;
    font-size: 12px;
    display: inline-block;
    align-self: center;
}

.ion-label-rounded {
    background-color: #e0dcd5;
    color: #000000;
    border-radius: 50px 50px;
    padding: 1px;
    font-size: 12px;
}

.bt-font{
    background-color:white;
    font-size: 12px;
    color: #939598;
    display: inline-block;

}

ion-tab-bar,
ion-tab-button,
ion-segment {
    background-color: #ffa12a;
}

ion-card {
    background-color: white;
}

ion-toolbar {
    --background: #ffa12a;
}

ion-button {
    --background: #ffa12a;
}


.verticalAlign {
    display: flex;
    align-items: center;
}
ion-button {
    --border-radius: 5px;
}

// new route and search common css

.new-route-icon-font {
    font-size: 4.5vw;
}

.input-border {
    border-bottom: 1px solid rgb(191, 189, 189);
}
.new-route-ok-btn {
    font-size: 16px !important;
    // font-weight: 600 !important;
}

.details-font {
    color: #5f5d5d !important;
    // font-weight: 500;
    font-size: var(--font-default) !important;
}
.routes-list-background {
    background-color: #fcf6f0;
}
.margin-bottom-0 {
    margin-bottom: 0 !important;
}

form ion-label {
    margin-bottom: 0px !important;
}

.verticalLine {
    border-right: 1px solid #cfd2cf;
    // height: 10px;
}
.select-date-width {
    width: 100%;
}
.padding-1 {
    padding: 1vw;
}
.calendar-font {
    font-size: 24px;
}
.calendar-font{
  font-size: 24px;
}

// toaster

.toasterText{
  text-align: center;
  font-size: 11px;
  font-weight: 900;
  color:white
}

.verticalAlign{
    display: flex;
    align-items: center;
}

.pop-over-style {
    .popover-content {
        //width: 80% !important; - this wont work or the bottom one.
        width: 80vw !important;
        padding-left: 1vw;
        height:60vh;
    }
}