<ion-segment mode="md" class="segment-label-font margin-top-2" [(ngModel)]="segmentType"
(ionChange)="segmentChanged($event)">
<ion-segment-button mode="md" value="upcoming" color="medium">
  Upcoming
</ion-segment-button>
<ion-segment-button mode="md" value="completed" color="medium">
  Completed
</ion-segment-button>
</ion-segment>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div [ngSwitch]="segmentType">
    <div *ngSwitchCase="'upcoming'">
      <div *ngIf="upcomingRides.length === 0">
        <p> No Upcoming Rides Found</p>
      </div>
      <div *ngIf="upcomingRides.length > 0">
        <ion-card *ngFor="let ride of upcomingRides">
          <ion-card-content class="ion-no-padding">
            <ion-grid>
              <ion-row>
                <ion-col size="1">
                  <!-- <ion-img src="assets/images/Avtar-m.svg" class="avatar"></ion-img> -->
                  <ion-icon src="assets/images/Avtar-m.svg"></ion-icon>
                </ion-col>
                <ion-col size="5" class="text-name-font">
                  {{(ride.route.rider.firstName)}}
                </ion-col>
                <ion-col class="text-font-color" size="6">
                  {{ride.startTime | date: 'dd/MM/yyyy H:mm'}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6" class="verticalAlign">
                  <a href="tel:{{ride.route.rider.mobile}}">
                    <ion-icon src="assets/images/call.svg" class="ion-padding-end"></ion-icon>
                    <ion-text class="text-name-font">
                      {{ride.route.rider.mobile}}
                    </ion-text>
                  </a>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1">
                  <ion-icon style="font-size: 12px;" src="assets/images/b-location.svg"></ion-icon>
                </ion-col>
                <ion-col size="11" class="ion-no-padding">
                  <div class="text-font">
                    {{ride.route.origin}}
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1">
                  <ion-icon style="font-size: 12px;" src="assets/images/rlocation.svg"></ion-icon>
                </ion-col>
                <ion-col size="11" class="ion-no-padding">
                  <div class="text-font">
                    {{ride.route.destination}}
                  </div>
                </ion-col>

              </ion-row>
              <ion-row>
             
                <div class="tooltip"  *ngFor="let rp of ride.ridePartners">
                  <ion-col size="1.5"[hidden]="rp.isRider !== false" >
                    <!-- <div class="tooltip" > -->
                      <ion-text class="ion-label-rounded" float-center>
                        {{rp.partner.firstName | slice:0:1}}{{rp.partner.lastName | slice:0:1}}
                      </ion-text>
                      <ul class="tooltiptext">
                        <li style="padding-left: 5px;">{{rp.partner.firstName}}</li>
                        <a style="color: white; text-decoration: none;" href="tel:{{rp.partner.mobile}}">
                          <li style="padding-left: 5px;">
                            <ion-icon src="assets/images/call.svg"></ion-icon>
                            {{rp.partner.mobile}}
                          </li>
                        </a>
                      </ul>
                    <!-- </div> -->
                  </ion-col>
                </div >
         
        
              </ion-row>
              <ion-row>
                <ion-col class="text-font-color" size="6">
                </ion-col>
                <ion-col size="2">
                  <ion-icon class="icon-font" src="assets/images/pickupoint.svg" (click)='showPickUpLocations(ride)'>
                  </ion-icon>
                </ion-col>
                
                  <ion-col size="2" [hidden]="ride.route.rider.email !== user" >
                    <ion-icon class="icon-font" src="assets/images/approval.svg"
                      (click)='updateRide(ride,"COMPLETED")'></ion-icon>
                  </ion-col>
                <ion-col size="2">
                  <ion-icon class="icon-font" src="assets/images/close.svg" (click)='updateRide(ride,"CANCELLED")'>
                  </ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div *ngSwitchCase="'completed'">
      <div *ngIf="completedRides.length === 0">
        <p> No Completed Rides Found</p>
      </div>
      <div *ngIf="completedRides.length > 0">
        <ion-card *ngFor="let ride of completedRides">
          <ion-card-content class="ion-no-padding">
            <ion-grid>
              <ion-row>
                <ion-col size="1">
                  <!-- <ion-img src="assets/images/Avtar-m.svg" class="avatar"></ion-img> -->
                  <ion-icon src="assets/images/Avtar-m.svg"></ion-icon>
                </ion-col>
                <ion-col size="5" class="text-name-font">
                  {{(ride.route.rider.firstName)}}
                </ion-col>
                <ion-col class="text-font-color" size="6">
                  {{ride.startTime | date: 'dd/MM/yyyy H:mm'}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6" class="verticalAlign">
                  <a href="tel:{{ride.route.rider.mobile}}">
                    <ion-icon src="assets/images/call.svg" class="ion-padding-end"></ion-icon>
                    <ion-text class="text-name-font">
                      {{ride.route.rider.mobile}}
                    </ion-text>
                  </a>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1">
                  <ion-icon style="font-size: 12px;" src="assets/images/b-location.svg"></ion-icon>
                </ion-col>
                <ion-col size="11" class="ion-no-padding">
                  <div class="text-font">
                    {{ride.route.origin}}
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="1">
                  <ion-icon style="font-size: 12px;" src="assets/images/rlocation.svg"></ion-icon>
                </ion-col>
                <ion-col size="11" class="ion-no-padding">
                  <div class="text-font">
                    {{ride.route.destination}}
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <div class="tooltip"  *ngFor="let rp of ride.ridePartners">
                  <ion-col size="1.5"[hidden]="rp.isRider !== false" >
                    <!-- <div class="tooltip" > -->
                      <ion-text class="ion-label-rounded" float-center>
                        {{rp.partner.firstName | slice:0:1}}{{rp.partner.lastName | slice:0:1}}
                      </ion-text>
                    
                    <!-- </div> -->
                  </ion-col>
                </div >
                <!-- <ion-col class="p-text-ion-col" size="8">
                  <ion-row>
                    <ion-col size="2" *ngFor="let rp of ride.ridePartners">
                      <div *ngIf="rp.isRider === false">
                        <ion-text class="ion-label-rounded" float-center>
                          {{rp.partner.firstName | slice:0:1}}{{rp.partner.lastName | slice:0:1}}
                        </ion-text>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-col> -->
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>