.p-text-ion-col {
    display: flex;
    align-items: center;
    // margin: auto;
}

ion-img {
    &.avatar {
        width: 75%;
        margin: 0 auto;
    }
}

.margin-top-2 {
    margin-top: 2px;
}

ion-row {
    display: flex;
    align-items: center;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #ffa12a;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 12px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 50%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
