<ion-content>
    <form [formGroup]="routeForm" (ngSubmit)="submit()" class="ion-padding-top">
        <ion-row class="ion-justify-content-center ion-margin-top">
            <ion-col size="8" class="ion-no-padding">
                <ion-item class="input-border">
                    <!-- <ion-label position="floating" color="medium" class="ion-no-margin">Pick up</ion-label> -->
                    <ion-input type="text" clearInput formControlName="origin" (ionFocus)="addFocus('origin')"
                        (ionInput)="UpdateSearchResults()" placeholder="Origin">
                    </ion-input>
                </ion-item>
                <ion-list class="search-result"
                    [hidden]="autocompleteItems.length == 0 || placeTypeFocused != 'origin'">
                    <ion-item lines="inset" *ngFor="let item of autocompleteItems" tappable
                        (click)="SelectSearchResult(item)">
                        {{ item.description }}
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col size="1" class="verticalAlign ion-no-padding">
                <ion-icon src="assets/images/addpoint.svg" class="new-route-icon-font"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-margin-top">
            <ion-col size="8" class="ion-no-padding">
                <ion-item class="input-border">
                    <ion-input type="text" clearInput (ionFocus)="addFocus('destination')" (ionInput)="UpdateSearchResults()"
                        placeholder="Destination" formControlName="destination"></ion-input>
                </ion-item>
                <ion-list class="search-result" [hidden]="autocompleteItems.length == 0 || placeTypeFocused
                !='destination'">
                    <ion-item lines="inset" *ngFor="let item of autocompleteItems" tappable
                        (click)="SelectSearchResult(item)">
                        {{ item.description }}
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col size="1" class="verticalAlign ion-no-padding">
                <ion-icon src="assets/images/addpoint.svg" class="new-route-icon-font"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-margin-top">
            <ion-col size="8" style="margin-left: 1.8rem;" class="ion-no-padding">
                <ion-item class="input-border">
                    <ion-input type="text" clearInput (ionFocus)="addFocus('pickupPoint')" (ionInput)="UpdateSearchResults()"
                        placeholder="Pick-up Point" formControlName="pickupPoint"></ion-input>
                </ion-item>
                <ion-list class="search-result" [hidden]="autocompleteItems.length == 0 || placeTypeFocused
                !='pickupPoint'">
                    <ion-item lines="inset" *ngFor="let item of autocompleteItems" tappable
                        (click)="SelectSearchResult(item)">
                        {{ item.description }}
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col size="1" class="verticalAlign ion-no-padding">
                <ion-icon src="assets/images/addpoint.svg" class="new-route-icon-font"></ion-icon>

            </ion-col>
            <ion-col size="1" class="verticalAlign ion-no-padding">
                <ion-icon src="assets/images/add.svg" class="new-route-icon-font" (click)="addRoute()"></ion-icon>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="listOfRoutes.length>0" class="ion-justify-content-center routes-list-background ion-margin-top">
            <ion-col size="10">
                <ion-list class="routes-list-background margin-bottom-0 route-items-font verticalAlign">
                    <div>
                        <ion-row *ngFor="let route of listOfRoutes; let i = index;let even=even;let odd=odd">
                            <ion-col size="1">
                                <ion-icon *ngIf="odd" src="assets/images/b-location.svg" class="route-icon-font">
                                </ion-icon>
                                <ion-icon *ngIf="even" src="assets/images/rlocation.svg" class="route-icon-font">
                                </ion-icon>
                            </ion-col>
                            <ion-col size="10" class="route">
                                {{route}}
                            </ion-col>
                            <ion-col size="1" class="route">
                                <ion-icon class="" src="assets/images/close.svg" (click)='deleteRoute(i)'></ion-icon>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-list>

            </ion-col>
        </ion-row>



        <ion-row class="ion-justify-content-center ion-margin-top">
            <ion-col size="10">
                <ion-row>
                    <ion-col size='3' class="verticalAlign">
                        <ion-text class="details-font">Seats</ion-text>
                    </ion-col>
                    <ion-col size="3" class="verticalAlign ion-margin-end">
                        <!-- <ion-icon src="assets/images/add.svg" class="new-route-icon-font" (click)="subSeatCount()"> -->
                            <ion-icon name="remove-circle-outline" class="new-route-icon-font" color="tertiary" (click)="subSeatCount()"></ion-icon>
                        <!-- </ion-icon> -->
                        <ion-input class="ion-no-padding details-font ion-text-center" formControlName="seatCount">
                        </ion-input>
                        <ion-icon name="add-circle-outline" color="success" class="new-route-icon-font" (click)="addSeatCount()"></ion-icon>
                        <!-- <ion-icon src="assets/images/add.svg" class="new-route-icon-font" (click)="addSeatCount()"> -->
                        <!-- </ion-icon> -->
                    </ion-col>
                    <ion-col size='2' class="verticalAlign">
                        <ion-text class="details-font">Time</ion-text>
                    </ion-col>
                    <ion-col size="3" class="verticalAlign details-font">
                        <ion-datetime displayFormat="HH:mm" class="ion-no-padding" minuteValues="0,15,30,45" formControlName="time">
                        </ion-datetime>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
            <ion-col size='5' class="verticalAlign">
                <!-- <ion-text class="details-font">From</ion-text> -->
                <ion-icon src="assets/images/calendar.svg" class="calendar-font padding-1"></ion-icon>
                <ion-item class="input-border select-date-width">
                    <ion-datetime class="ion-no-padding date-font" displayFormat="DDD DD MMM YYYY" min="2020"
                        formControlName="fromDate" placeholder="From"></ion-datetime>
                </ion-item>
            </ion-col>

            <ion-col size='5' class="verticalAlign">
                <!-- <ion-text class="details-font">To</ion-text> -->
                <ion-icon src="assets/images/calendar.svg" class="calendar-font padding-1"></ion-icon>
                <ion-item class="input-border select-date-width">
                    <ion-datetime class="ion-no-padding date-font" displayFormat="DDD DD MMM YYYY" min="2020" formControlName="toDate"
                        placeholder="To"></ion-datetime>
                </ion-item>
            </ion-col>

        </ion-row>

        <ion-row class="ion-justify-content-center">
            <ion-col size="11">
                <ion-card class="ion-no-margin">
                    <ion-card-content class="ion-no-padding">
                        <ion-row>
                            <ion-col class="ion-text-center" size="1.7" *ngFor="let weekDayObj of weekDaysList;let i=index">
                                <div class="" [ngClass]="{'verticalLine':i!==6}">
                                    <ion-label>{{weekDayObj.name}} </ion-label>
                                    <div>
                                        <ion-checkbox  [disabled]="weekDayObj.isDisabled" [checked]="weekDayObj.isChecked" [value]="weekDayObj" (ionChange)="selectedDays(weekDayObj, $event,i)"></ion-checkbox>
                                        <!-- <ion-checkbox formControlName="WeekDay" (ionChange)="selectedDays(WeekDay)"></ion-checkbox> -->
                                    </div>
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>


        <ion-row class="ion-margin-top">
            <ion-col size="6" offset="3" class="ion-text-center">
                <ion-button class="new-route-ok-btn" color="tertiary" expand="block" size="large" type="submit" [disabled]="!routeForm.valid">OK</ion-button>
            </ion-col>
        </ion-row>

    </form>

    <!-- <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list> -->
</ion-content>