.route-items-font {
    font-size: var(--font-default);
    color: #5f5d5d !important;
}

.route-icon-font {
    font-size: var(--font-default);
}

.icon-count {
    font-size: 5vw;
}

.icon-add-pickup {
    font-size: 6vw;
}
.date-font{
    font-size: 11px;
}