<ion-header>
    <ion-item lines="none">
        <ion-button slot="end">Clear All</ion-button>
    </ion-item>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let item of alerts">
            <!-- <ion-card style="margin-left: auto; margin-right: auto; margin-top: auto;">

            <ion-card-content class="ion-no-padding">
                <ion-grid>
                    <ion-row>
                        <ion-col style="text-align: center;align-self: center;" size="2">
                            <ion-row>
                                <ion-icon size="large" src="assets/images/Avtar-m.svg"></ion-icon>
                            </ion-row>
                        </ion-col>
                        <ion-col size="10">
                            <ion-row>
                                <ion-col class="text-font" size="4">Alert Title</ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col class="text-font-color">Alert details</ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>



        </ion-card> -->
            <ion-item lines="none" padding>
                <ion-avatar item-start>
                    <ion-icon size="large" src="assets/images/Avtar-m.svg"></ion-icon>
                </ion-avatar>
                <ion-label>
                    <h3 style="color: #000000;font-size: 14px;">Notification Title</h3>
                    <p style="font-weight: normal; color: #ffa12a; font-size: 13px;">Notification SubTitle</p>
                </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option (click)="unread(item)">Clear</ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>