<form [formGroup]="searchForm" (ngSubmit)="search()" style="background-color: white;">
    <ion-row class="ion-justify-content-center ion-margin-top">
        <ion-col size="10" class="ion-no-padding">
            <ion-item class="input-border">
                <ion-input type="text" placeholder="Pick up" (ionFocus)="addFocus('pickupLocation')"
                    formControlName="pickupLocation" (ionInput)="UpdateSearchResults()" #pickupLocation>
                </ion-input>
            </ion-item>
            <ion-list class="search-result"
                [hidden]="autocompleteItems.length == 0 || placeTypeFocused != 'pickupLocation'">
                <ion-item lines="inset" *ngFor="let item of autocompleteItems" tappable
                    (click)="SelectSearchResult(item)">
                    {{ item.description }}
                </ion-item>
            </ion-list>
        </ion-col>
        <ion-col size="1" class="verticalAlign ion-no-padding">
            <ion-icon src="assets/images/addpoint.svg" class="new-route-icon-font"></ion-icon>
        </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-margin-top">
        <ion-col size="10" class="ion-no-padding">
            <ion-item class="input-border">
                <ion-input type="text" placeholder="Drop Office" (ionFocus)="addFocus('dropLocation')"
                    (ionInput)="UpdateSearchResults()" formControlName="dropLocation"></ion-input>
            </ion-item>
            <ion-list class="search-result"
                [hidden]="autocompleteItems.length == 0 || placeTypeFocused != 'dropLocation'">
                <ion-item lines="inset" *ngFor="let item of autocompleteItems" tappable
                    (click)="SelectSearchResult(item)">
                    {{ item.description }}
                </ion-item>
            </ion-list>
        </ion-col>
        <ion-col size="1" class="verticalAlign ion-no-padding">
            <ion-icon src="assets/images/addpoint.svg" class="new-route-icon-font"></ion-icon>
        </ion-col>
    </ion-row>



    <ion-row class="ion-margin-top">
        <ion-col size='6' class="verticalAlign">
            <ion-icon src="assets/images/calendar.svg" class="search-calender-font"></ion-icon>
            <ion-item class="input-border" style="width: 100%;">
                <ion-datetime class="ion-no-padding" displayFormat="DDD DD MMM YYYY" formControlName="fromDate" min="2020"
                    placeholder="From"></ion-datetime>
            </ion-item>
        </ion-col>

        <ion-col size='5' class="verticalAlign">
            <ion-icon src="assets/images/calendar.svg" class="search-calender-font"></ion-icon>
            <ion-item class="input-border" style="width: 100%;">
                <ion-datetime displayFormat="DDD DD MMM YYYY" class="ion-no-padding" formControlName="toDate" min="2020"
                    placeholder="To"></ion-datetime>
            </ion-item>
        </ion-col>

    </ion-row>

    <ion-row class="ion-margin-top">
        <ion-col size="10">
            <ion-row>
                <ion-col size='4' class="verticalAlign">
                    <ion-text class="details-font">Time</ion-text>
                </ion-col>
                <ion-col size="6" class="verticalAlign details-font">
                    <ion-datetime displayFormat="HH:mm" class="ion-no-padding" minuteValues="0,15,30,45" formControlName="time"></ion-datetime>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
        <ion-col size="12">
            <ion-card class="ion-no-margin">
                <ion-card-content class="ion-no-padding">
                    <ion-row>
                        <ion-col class="ion-text-center" size="2" *ngFor="let day of weekDaysList;let i = index">
                            <div [ngClass]="{'verticalLine':i!==5}">
                                <ion-label>{{day.name}} </ion-label>
                                <div>
                                    <ion-checkbox  [value]="day" (ionChange)="selectedDays(day, $event,i)"></ion-checkbox>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>


    <ion-row class="ion-margin-top">
        <ion-col size="6" offset="3" class="ion-text-center">
            <ion-button class="new-route-ok-btn" expand="block" size="large" type="submit" [disabled]="!searchForm.valid">Search</ion-button>
        </ion-col>
    </ion-row>

</form>

