<ion-content>

  <div *ngIf="displaySearchForm">
    <form [formGroup]="searchForm" (ngSubmit)="search()" class="ion-padding-top" style="background-color: white;">
      <ion-row class="ion-justify-content-center ion-margin-top">
        <ion-col size="8" class="ion-no-padding">
          <ion-item class="input-border">
            <ion-input type="text" clearInput placeholder="Origin" (ionFocus)="addFocus('origin')"
              formControlName="origin" (ionInput)="UpdateSearchResults()" #pickupLocation>
            </ion-input>
          </ion-item>
          <ion-list class="search-result"
            [hidden]="autocompleteItems.length == 0 || placeTypeFocused != 'origin'">
            <ion-item lines="inset" *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
              {{ item.description }}
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="1" class="verticalAlign ion-no-padding">
          <ion-icon src="assets/images/addpoint.svg" class="new-route-icon-font"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-margin-top">
        <ion-col size="8" class="ion-no-padding">
          <ion-item class="input-border">
            <ion-input type="text" clearInput placeholder="Destination" (ionFocus)="addFocus('destination')"
              (ionInput)="UpdateSearchResults()" formControlName="destination"></ion-input>
          </ion-item>
          <ion-list class="search-result"
            [hidden]="autocompleteItems.length == 0 || placeTypeFocused != 'destination'">
            <ion-item lines="inset" *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
              {{ item.description }}
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="1" class="verticalAlign ion-no-padding">
          <ion-icon src="assets/images/addpoint.svg" class="new-route-icon-font"></ion-icon>
        </ion-col>
      </ion-row>



      <ion-row class="ion-justify-content-center ion-margin-top">
        <ion-col size='5' class="verticalAlign">
          <ion-icon src="assets/images/calendar.svg" class="search-calender-font"></ion-icon>
          <ion-item class="input-border" style="width: 100%;">
            <ion-datetime class="ion-no-padding" displayFormat="DDD DD MMM YYYY" formControlName="fromDate" min="2020"
              placeholder="From"></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size='5' class="verticalAlign">
          <ion-icon src="assets/images/calendar.svg" class="search-calender-font"></ion-icon>
          <ion-item class="input-border" style="width: 100%;">
            <ion-datetime displayFormat="DDD DD MMM YYYY" class="ion-no-padding" formControlName="toDate" min="2020"
              placeholder="To"></ion-datetime>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row class="ion-margin-top ion-justify-content-center">
        <ion-col size="8">
          <ion-row class="ion-justify-content-center">
            <ion-col size='4' class="verticalAlign">
              <ion-text class="details-font">Time</ion-text>
            </ion-col>
            <ion-col size="4" class="verticalAlign details-font">
              <ion-datetime displayFormat="HH:mm" class="ion-no-padding" minuteValues="0,15,30,45"
                formControlName="time"></ion-datetime>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="11">
          <ion-card class="ion-no-margin">
            <ion-card-content class="ion-no-padding">
              <ion-row>
                <ion-col class="ion-text-center" size="1.7" *ngFor="let weekDayObj of weekDaysList;let i = index">
                  <div [ngClass]="{'verticalLine':i!==6}">
                    <ion-label>{{weekDayObj.name}} </ion-label>
                    <div>
                      <ion-checkbox [disabled]="weekDayObj.isDisabled" [checked]="weekDayObj.isChecked"  [value]="weekDayObj" (ionChange)="selectedDays(weekDayObj, $event,i)"></ion-checkbox>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    

      <ion-row class="ion-margin-top">
        <ion-col size="6" offset="3" class="ion-text-center">
          <ion-button class="new-route-ok-btn" expand="block" size="large" type="submit" [disabled]="!searchForm.valid">
            Search</ion-button>
        </ion-col>
      </ion-row>

    </form>
  </div>
  <div *ngIf="!displaySearchForm">
    <ion-row>
      <ion-col size="10">
       <ion-button (click)="switchToSearchView()">
         Change Filters
       </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="search-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-card *ngFor="let ride of searchResultsArray">
      <ion-card-content class="ion-no-padding">
        <ion-grid>
          <ion-row style="display: flex; align-items: center;">
            <ion-col size="1">
              <!-- <ion-img src="assets/images/Avtar-m.svg" class="avatar"></ion-img> -->
              <ion-icon src="assets/images/Avtar-m.svg"></ion-icon>
            </ion-col>
            <ion-col size="5" class="text-name-font">
              {{ride.route.rider.firstName}}
            </ion-col>
            <ion-col class="text-font-color" size="6">
              {{ride.startTime | date: 'dd/MM/yyyy H:mm'}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <!-- <button class="bt-font" ion-button icon- (click)='callToRider()'> -->
              <ion-icon src="assets/images/call.svg" (click)='callToRider()'></ion-icon>
              <ion-text class="text-name-font">
                {{ride.route.rider.mobile}}
              </ion-text>
              <!-- </button> -->
            </ion-col>
          </ion-row>
          <ion-row style="display: flex; align-items: center;">
            <ion-col size="1">
              <ion-icon style="font-size: 12px;" src="assets/images/b-location.svg"></ion-icon>
            </ion-col>
            <ion-col size="11" class="ion-no-padding">
              <div class="text-font">
                {{ride.route.origin}}
              </div>
            </ion-col>
          </ion-row>
          <ion-row style="display: flex; align-items: center;">
            <ion-col size="1">
              <ion-icon style="font-size: 12px;" src="assets/images/rlocation.svg"></ion-icon>
            </ion-col>
            <ion-col size="11" class="ion-no-padding">
              <div class="text-font">
                {{ride.route.destination}}
              </div>
            </ion-col>

          </ion-row>
          <ion-row style="display: flex; align-items: center;">
            <ion-col class="p-text-ion-col" size="8">
              <ion-row>
                <ion-col size="2" *ngFor="let rp of ride.ridePartners">
                  <div *ngIf="rp.isRider === false">
                    <ion-text class="ion-label-rounded" float-center>
                      {{rp.partner.firstName | slice:0:1}}{{rp.partner.lastName | slice:0:1}}
                    </ion-text>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="text-font-color" size="6">
            </ion-col>
            <ion-col size="2">
              <ion-icon class="icon-font" src="assets/images/joinride.svg" (click)='joinRide(ride)'></ion-icon>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>