.icon-user {
    position: absolute;
    top: 10px;
    right: 10px;
}

ion-header {
    .button-md {
      box-shadow: none;
    }
  
    .toolbar-title {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      text-align: center;
    }
  }
  

.logout-action{
    color: white;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
    border-bottom: 10px solid #f47920;;
    position: absolute;
    bottom: 10%;
}

.header-icon-font{
    font-size: 20px;
}
.selectedTab{
  border-top: 4px solid #b34d04;
}
.selectedTabIcon{
  filter:drop-shadow()
}
:root {
    ion-tab-button.tab-selected {
      ion-icon, ion-label {
        color: var(--ion-color-secondary) !important;
        --ion-color-base: var(--ion-color-secondary) !important;
      }
    }
  }

  ion-tab-button {
    // Icon and text
    –color: grey;
    –color-selected: blue;
    // Background
    –background: white;
    –background-focused: white;
    –ripple-color: white;
    }

// .tab-item-active {
//     background:green;
// } 
