<ion-header>
    <ion-toolbar mode="ios" class="toolbar-content">
        <ion-icon slot="start" style="margin-left: 0.5rem;" src="assets/images/person-m.svg" class="header-icon-font">
        </ion-icon>
        <!-- <ion-icon style="margin-left: 0.5rem;" slot="start" name="menu-outline" color="light" class="header-icon-font"></ion-icon> -->
        <ion-title slot="secondary" class="toolbar-title">{{viewName}}</ion-title>
        <!-- <div slot="end" style="align-items: center;"> -->
        <!-- <ion-icon  style="margin-right: 1rem;" src="assets/images/person-m.svg"  class="header-icon-font"></ion-icon> -->
        <ion-icon slot="end" style="margin-right: 0.5rem;" name="power-outline" (click)="logout()"
            class="header-icon-font logout-action"></ion-icon>
        <!-- </div>         -->
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-tabs #myTabs>

        <!-- <div id="mytab" class="triangle-up"></div> -->
        <!-- <ion-icon name="caret-up-outline"></ion-icon> -->
        <ion-tab-bar slot="bottom" style="height: 10%;border: 0px;">
            <!-- <div class="triangle-up"></div> -->
            <ion-tab-button (click)="changeTab('MY RIDE')" tab="my-route" [ngClass]="{'selectedTab':viewName==='MY RIDE'}">

                <ion-icon small src="assets/images/myroute.svg" [ngClass]="{'selectedTabIcon':viewName==='MY RIDE'}"></ion-icon>
                <ion-label color="dark">My Ride</ion-label>
            </ion-tab-button>

            <ion-tab-button (click)="changeTab('NEW ROUTE')" tab="new-route" [ngClass]="{'selectedTab':viewName==='NEW ROUTE'}">
                <ion-icon small src="assets/images/newroute.svg" [ngClass]="{'selectedTabIcon':viewName==='NEW ROUTE'}"></ion-icon>
                <ion-label color="dark">New Route</ion-label>
            </ion-tab-button>

            <ion-tab-button (click)="changeTab('SEARCH')" tab="search" [ngClass]="{'selectedTab':viewName==='SEARCH'}">
                <ion-icon small src="assets/images/find.svg" [ngClass]="{'selectedTabIcon':viewName==='SEARCH'}"></ion-icon>
                <ion-label color="dark">Find Ride</ion-label>
            </ion-tab-button>
        </ion-tab-bar>

    </ion-tabs>
</ion-content>